<div id="flow_guardian">
<table>
<tr>
    <td>
        Status
    </td>
    <td>
        <span data-bind="text:pfm_status"></span>
    </td>
<tr>
    <td>Intended (mm)</td>
    <td>
        <span data-bind="text:pfm_intended"></span>
    </td>
</tr>
<tr>
    <td>Actual (mm)</td>
    <td>
        <span data-bind="text:pfm_actual"></span>
    </td>
</tr>
<tr>
    <td>Ratio</td>
    <td>
        <span data-bind="text:pfm_extrusion_ratio"></span>
    </td>
</tr>
</table>


</div>